.user-dropdown {
    position: relative;
  }
  
  .dropdown-menu a {
    text-decoration: none;

  }
  .icons-and-text {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-weight: bold;
  }
.icon-user {
  font-size: 35px; 
  &:hover {
    color: #fed700;
  }
}
  